@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ecf0f3;
}

.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.wrapper {
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 100px;
  /* margin-left: 100px; */
  
}

.wrapper .icon {
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}

.wrapper .icon i {
  position: relative;
  z-index: 9;
}

.wrapper .icon.arrow {
  left: 15px;
}

.wrapper .icon.dots {
  right: 15px;
}

.wrapper .img-area {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area .inner-area {
  height: calc(100%);
  width: calc(100%);
  border-radius: 50%;
}

.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.wrapper .people {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}

.wrapper .about {
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
}

.wrapper .social-icons {
  margin: 15px 0 25px 0;
}

.social-icons a {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}

.buttons button:hover:before {
  z-index: -1;
  border-radius: 5px;
}

.wrapper .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons button {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
}

.buttons button:first-child {
  margin-right: 10px;
}

.buttons button:last-child {
  margin-left: 10px;
}

.wrapper .social-share {
  display: flex;
  width: 100%;
  margin-top: 30px;
  /* padding: 0 5px; */
  justify-content: space-between;
}

.social-share .row {
  color: #31344b;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.social-share .row::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}

.row:first-child::before {
  background: none;
}

.social-share .row i.icon-2 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
  opacity: 1;
  pointer-events: auto;
}

.slick_list {
  /* position: relative; */
  width: 400px;
  height: 300px;
  display: flex;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height: 100;
}
.row {
  display: flex;
  flex-direction: row;
  z-index: 0;
  align-items: center;
  /* margin-top: 5rem; */
  /* margin-bottom: 5rem; */
}
.produce {
  width: 1000px;
  /* height: 100px */
  align-items: center;
}

